body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 10px;
}

h2 {
    margin-top: 0;
    font-size: 18px;
}

.container {
    max-width: 800px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.product .product-info {
    flex: 1;
}

.product .product-info > * {
    margin-bottom: 5px;
}

.product .product-info p {
    margin: 0;
}

.product .rating {
    display: flex;
    align-items: center;
    margin-bottom: auto;
}

.product .buy-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
    width: auto;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.star-icon {
    width: 15px;
    height: auto;
    margin-right: 3px;
}

.rating-text.yellow {
    color: darkorange;
}

.product-info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.product-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.info-bottom {
    margin-top: auto;
}
